*{
    margin:0;
    padding-left:0;
    padding-right:0;
}
.homecontent{
    background-image: url("./homebg.jpg");
    background-size: cover;
    height: 100%;
    width:100%;
    padding-bottom: 18%;
}

.first{
    margin-top: 20%;
}

.parahome{
    font-size: 25px;
    
    
}
