.sheep{
    height: 100%;
    width:100%;
}


.workcontent{
    height: 100%;
    width:100%;
    background-color: rgb(64, 147, 80);
}

.worktwo{
    background-color: white;
}

.workthree{
    background-color: white;
    
}

.icon1{
    font-size: 50px;

}

