.hd4,.hd5{
    text-align: center;
 }
 
 .card1{
     
     border-top: 5px solid crimson !important;
     border-radius: 30px !important;
 }
 .card2{
    
     border-top: 5px solid blue !important;
     border-radius: 30px !important;
 }
 .card3{
     
     border-top: 5px solid green !important;
     border-radius: 30px !important;
 }
 .card4{
     
     border-top: 5px solid orange !important;
     border-radius: 30px !important;
 }
 
 .scientist{
     width: 100px;
     height:100px;
     
 }
 .iot{
     width:100px;
     height:100px;
 }

